<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/admin/addproduct" method="post">
    <input type="text" name="name">
    <input type="number" name="price">
    <input type="text" name="seller">
    <input type="text" name="imageUrl">
    <input type="text" name="description">
    <input type="text" name="category">
    <button type="submit">Submit form</button>
    </form>
    
</body>
</html>