<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    </head>



<body>

    <form action="/admin/addproduct" method="POST">
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="number" name="price"id="price" placeholder="Price">
    <input type="text" name="seller" id="seller" placeholder="seller">
    <input type="text" name="imageUrl" id="imageUrl" placeholder="imageUrl">
    <input type="text" name="description" id="description" placeholder="description">
    <input type="text" name="category" id="category" placeholder="category">
    <button type="submit">Submit form</button>
  
  
 
  

  </body>
</html>