<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../public/sidebar.css">
  <style>
    *{ font-family:monospace; } body{  background-image:
    url("https://img.freepik.com/premium-photo/fresh-healthy-vegetable-fruits-seen-from-isolated-green-background-with-copy-space_709963-1630.jpg");
    background-size: cover; background-repeat: no-repeat;
    background-position:right ;} form{
      height: 80%; width: 70%;
    }.b{  height: 100%; border-top: 5px solid
    rgba(206,213,107,255);border-bottom: 5px solid rgba(206,213,107,255);
    border-left: 5px solid rgba(206,213,107,255); border-radius: 50px;
    padding:5px; display: flex; flex-direction: column; padding-left:20px ;
    justify-content: space-evenly; padding-top: 1.5%;}
    .inp{ width: 50%; height: 5vh; } .sub{ width: 10vw; height: 10vh; position:
    relative; left: 70%;  border-radius:
    15px; } .d{ height: 10vh; } .content{width: 100%; height: 100%; display: flex; flex-direction: column;margin-left: 5%; justify-content: space-evenly;} h1{
      font-size: 3rem;
    }
    h2{
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .sub:hover {
      background-color: rgba(100, 255, 107, 255);
    }
  </style>
  <body>
    {{>sidebar}}
    <div class="content"><div class="heading">
        <h1>ADD A PRODUCT</h1>
      </div>
      <form action="/admin/addproduct" method="post">
        <div class="b">
          <h2>Add product details here </h2>
          <p>Name of the product</p><input
            class="inp"
            type="text"
            name="name"
          />
          <p>Price</p><input class="inp" type="number" name="price" />
          <p>Seller Name</p><input class="inp" type="text" name="seller" />
          <p>Image Url</p><input class="inp" type="text" name="imageUrl" />
          <p>Description</p><input class="inp" type="text" name="description" />
          <p>Category</p><textarea
            class="inp d"
            name="category"
            rows="5"
            cols="50"
          ></textarea>
          <button class="sub" type="submit">Submit form</button>
        </div>
      </form></div>

  </body>
</html>