<div class="endpage">
  <div class="boxes">
    <div class="box6">
      <div class="headtext border">about us</div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">contact us</div>
        </a>
      </div>
    </div>
    <div class="box6">
      <div class="headtext border">about us</div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">contact us</div>
        </a>
      </div>
    </div>
    <div class="box6">
      <div class="headtext border">about us</div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">contact us</div>
        </a>
      </div>
    </div>
    <div class="box6">
      <div class="headtext border">about us</div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">contact us</div>
        </a>
      </div>
    </div>
    <div class="box6">
      <div class="headtext border">about us</div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">contact us</div>
        </a>
      </div>
    </div>
  </div>
  <div class="lastdiv border">

    <div class="logoend">
      <img src="../../KKdark.png" alt="">
    </div>
    <div class="copyright">
      © 2024 KisanKart
      </div>
    <div class="platforms">
      <div class="insta">
        <a href=""><i class="fa-brands fa-instagram" style="color: #e26060"></i></a>
      </div>
      <div class="facebook">
        <a href=""><i class="fa-brands fa-square-facebook" style="color: #0f72bd"></i></a>
      </div>
      <div class="twitter">
        <a href=""><i class="fa-brands fa-x-twitter" style="color: #74c0fc"></i></a>
      </div>
    </div>
  </div>
</div>