<div class="endpage">
  <div class="boxes">
    <div class="box6">
      <div class="headtext border">Who We Are</div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">Kisan Kart is an innovative e-commerce platform designed specifically for farmers. We
            bring together sellers and buyers in the agricultural sector, offering a wide range of high-quality products.
          </div>
        </a>
      </div>
    </div>
    <div class="box6">
      <div class="headtext border">Our Vision
      </div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">We aim to revolutionize the agricultural market by bridging the gap between farmers
            and suppliers. By eliminating middlemen, Kisan Kart helps farmers save time and money, allowing them to focus on farming</div>
        </a>
      </div>
    </div>
    <div class="box6">
      <div class="headtext border">Why Choose Us?
      </div>
      <div class="endcontentbox">
        <a href="">
          <div class="box7 border">
          Our platform is designed to be easy to use.
          We work with reputable sellers to ensure that you receive high-quality products.
          Our customer support team is always here to help you with any issues.
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="lastdiv border">

    <div class="logoend">
      <img src="../../KKdark.png" alt="">
    </div>
    <div class="copyright">
      © 2024 KisanKart
    </div>
    <div class="platforms">
      <div class="insta">
        <a href=""><i class="fa-brands fa-instagram" style="color: #e26060"></i></a>
      </div>
      <div class="facebook">
        <a href=""><i class="fa-brands fa-square-facebook" style="color: #0f72bd"></i></a>
      </div>
      <div class="twitter">
        <a href=""><i class="fa-brands fa-x-twitter" style="color: #74c0fc"></i></a>
      </div>
    </div>
  </div>
</div>