<div class="section__container"></div>
<div class="header">
        <p>Customer Reviews</p>
        <h1>What our users say about this product.</h1>
      </div>
<div class='user-reviews'>
  <div class="testimonials__grid">
  {{#if product.reviews}}
    
    {{#each product.reviews as |r|}}
         <div class="card">
          <p class="name">{{r.Username}}</p>
          <span><i class="ri-double-quotes-l"></i></span>
          <p class="review-text">
            {{r.details}}
          </p>
          <hr />
          
          
        </div>
      {{!-- <div class="review">
            <div class="review-header">
                <h3>{{u.username}}</h3>
                
            </div>
            <p class="review-text">{{r.details}}</p>
        </div>
        <hr> --}}
    {{/each}}

  {{/if}}
   
</div>
</div>
</div>

      
      
   

      </div>
    
{{!-- <div class="container">
        <div class="board">
            <h2 class="text-light">Word form our customers</h2>
            <p class="text-light">Some of the fullfilled costomers reviews</p>

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="flex">
                        <div class="comments">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Non, placeat quisquam? Animi sunt, dignissimos est sit reiciendis iste ipsa error?
                        </div>
                        <div class="profile">
                            <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <a href="#">John V. Bellanmy</a>
                            <span>Founder & CEO</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex">
                        <div class="comments">
                            Non, placeat quisquam? Animi sunt, dignissimos est sit reiciendis iste ipsa error?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                         </div>
                        <div class="profile">
                            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <a href="#">John V. Bellanmy</a>
                            <span>Founder & CEO</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex">
                        <div class="comments">
                            Animi sunt, ipsa error? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Non, placeat quisquam? dignissimos est sit reiciendis iste 
                        </div>
                        <div class="profile">
                            <img src="https://images.unsplash.com/photo-1503185912284-5271ff81b9a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <a href="#">John V. Bellanmy</a>
                            <span>Founder & CEO</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="./main.js"></script> --}}


 
