<aside id='sidebar'>
  {{! <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> CART
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div> }}

  <ul class='sidebar-list'>
    <li class='sidebar-list-item'>
      <a href='/admin'>
        <span class='material-icons-outlined'>dashboard</span>
        Dashboard
      </a>
    </li>
    <li class='sidebar-list-item'>
      <a href='/admin/addproduct'>
        ADD Products
      </a>
    </li>
    <li class='sidebar-list-item'>
      <a href='/admin/products/all'>
        SHOW PRODUCTS
      </a>
    </li>
    {{! <li class="sidebar-list-item">
            <a href="#" target="_blank">
               DELETE Products
            </a>
          </li> }}

    <li class='sidebar-list-item'>
      <a href='#' target='_blank'>
        <span class='material-icons-outlined'>settings</span>
        Settings
      </a>
    </li>
  </ul>
</aside>