* {
  margin: 0px;
}
body {
  background-color: rgb(236, 228, 228);
}
.navbar {
  width: 100%;
  height: 20vh;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1vh;
  padding-top: 0;
  padding-bottom: 0;
}
.bordr {
  border: 2px solid black;
}
.kklogo {
  height: 18vh;
  width: 8vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("KISAN_KART.png");
}
.uppercontent {
  box-sizing: border-box;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* .lowercontent {
  height: 30%;
  display: flex;

  align-items: center;
  box-sizing: border-box;
  background-color: rgba(91, 167, 91, 0.747);
  border-radius: 100px;
} */
.navcontent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.size1 {
  width: 13vw;
  height: 100%;
}
.location {
  display: flex;
  align-items: center;
}
.loclogo,
.fa-location-dot {
  font-size: 2vw;
  margin: 0.4vh;
}
.searchbar {
  width: 50vw;
  height: 5vh;
  display: flex;
  align-items: center;
}
#searchInput {
  width: 90%;
  height: 4.8vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.fa-magnifying-glass {
  font-size: 1.7vw;
}
.searchbutton {
  width: 4vw;
  height: 4.99vh;
  border-radius: 0;
  background-color: white;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: none;
}
.size2 {
  height: 8vh;
  width: 5vw;
}
.size3 {
  height: 8vh;
  width: 10vw;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cartlogo {
  height: 4vh;
  width: 5vw;
}
.carttext {
  font-size: 2vh;
  font-weight: bold;
}
.fa-cart-shopping {
  font-size: 1.8vw;
}
a {
  text-decoration: none;
  color: black;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.loginupper {
  display: flex;
  text-align: right;
  height: fit-content;
  padding: 0.3vh;
}
.loginbottom {
  height: fit-content;
  z-index: 1;
}
.username {
  position: relative;
  height: fit-content;
  padding: 0.2vh;
  top: 1.5vh;
  text-align: left;
  font-weight: bold;
  font-size: 2vh;
}
.joinasseller {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  padding: 0.4vh;
  align-items: center;
  font-weight: bold;
}
.space {
  height: 200px;
}
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  left: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 7vw;
  border-radius: 100px;
  font-size: 2.3vh;
  font-weight: 500;
  margin: 2vw;
}
.midpage {
  margin: 1.3vh;
}
.banner {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-image: url("banner1.png");
  background-size: cover;
  justify-content: space-between;
  transition: background-image 0.3s ease-in-out;
}
.change_banner {
  background-color: white;
  border: 0;
  position: relative;
  height: 15vh;
  width: 5vh;
}
.size4 {
  height: 42vh;
  margin-bottom: 2vh;
}

.previous_banner {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.next_banner {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bestseeds_section,
.protection_section {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* padding-top: 1vh;
  padding-bottom: 2vh; */
  padding-top: 5vh;
}
.seedboxes,
.protectionboxes {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding-top: 3vh;
  align-items: center;
  overflow: hidden;
}

.seedbox,
.protectionbox {
  width: 16vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1vh;
  border: 0.5px solid rgb(185, 179, 179);
  border-radius: 10%;
  transition: 0.5s;
  position: relative;
}
.seedbox:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.protectionbox:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* #protectionbox_7,
#protectionbox_8,
#protectionbox_9,
#protectionbox_10,
#protectionbox_11,
#protectionbox_12 {
  display: none;
}
#seedbox_7, */
.seedimages {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(seedsimage.jpg);
  height: 85%;
  box-sizing: border-box;
}
.protectionimages {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(pesticidesimage.jpg);
  height: 85%;
  box-sizing: border-box;
  padding: 2vh;
}
.seedstext,
.protectiontext {
  font-size: larger;
  text-align: center;
}
.sellertext {
  font-size: 2vh;
  text-align: center;
}
.endpage {
  height: 70vh;
  background-color: #018749;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box6 {
  height: 41vh;
  width: 15%;
  /* border: 1px solid black; */
  margin: 1vw;
}
.headtext {
  font-size: 1.25vw;
  height: 10%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.endcontentbox {
  border-top: 1px solid black;
  box-sizing: border-box;
  margin: 0.2vw;
}
.box7 {
  height: 4.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.lastdiv {
  height: 20%;
  width: 100%;
  position: relative;
  bottom: -3vh;
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
}
.logo {
  height: 73%;
  width: 4.5%;
  border-radius: 50%;
  position: relative;
  left: 10vw;
  background-image: url(KISAN_KART.png);
  background-color: lightgreen;
  background-repeat: no-repeat;
  background-size: contain;
}
