<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .babygurl{ background-color: antiquewhite; }
    </style>
  </head>
  <body>

    <ul class="babygurl">
      {{#each data as |d|}}
        <li class="babe">{{d}}</li>
      {{/each}}
    </ul>

  </body>
</html>