.endpage {
  height: 40vh;
  /* background-color: #018749; */
  background-color: lightgreen;
  display: flex;
  padding-top: 3%;
  margin-top: 15vh;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.boxes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.box6 {
  width: 15%;
  /* border: 1px solid black; */
  margin: 1vw;
}
.headtext {
  font-size: 1.4vw;
  height: 10%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.endcontentbox {
  border-top: 1px solid black;
  line-height: -2px;
  box-sizing: border-box;
  margin: 0.2vw;
}
.box7 {
  height: 4.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.lastdiv {
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: black;
}

.logoend{
  img{
    height:60px;
    width: 60px;
    margin-left: 3vw;
  }

}
.copyright{
  color:whitesmoke;
  padding-left: 10vw;
}
.platforms {
  display: flex;
  justify-content: space-evenly;
  width: 18%
}
.fa-brands {
  font-size: 5vh;
}
